/* prevent blue outline when navigating by jquery 
http://stackoverflow.com/questions/14144426/remove-outline-from-active-jquery-ui-tab
*/
*:focus { outline:none }

/* Page */
body {
	font: 100%/1.4 Avenir,Menlo,Helvetica Neue,Helvetica,Arial,sans-serif;
	background-color: #e8e8e8;
	background-image: url("../rsc/topography.png");
	margin: 0;
	padding: 0;
    height: 100%;
    font-size:24px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

#footer {
    position: absolute;
    color:#ffffff;
    padding-left: 5em;
    font-size: 0.75em;
    font-weight:100;
    bottom: 0.5em;
    margin: 0 auto;
    height:1em;
}

/** If a place fails to load show error msg **/

#error {
    position: relative;
    left:0%;
    color: white;
    font-size: 1.5em;
    background-color: #fc194d;
    padding:2.5%;
}

.hidden {
    display: none;
}

/* Center the loader */
#loader {
  display: none;
  position: relative;
  z-index: 1;
  margin: 10px auto;
  border: 1em solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  border-top: 1em solid #f22493;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spin {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.blink {
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}

#edit-menu {
    position: absolute;
    right: 18px;
    margin-top: 45px;
    flex-flow: column;
    width: 20px;
    z-index: 1;
}

.edit-menu-item {
    cursor: pointer;
    color: #fdfdfd;
    transition: .25s ease-in-out;
}
.edit-menu-item:hover {
    color: #d8d8d8;
    transform: scale(1.10);
}

#hamburger {
  width: 2.5em;
  height: 2.5em;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 0.23em;
  width: 50%;
/*  background: #e8e8e8;*/
  background: #8c8c8c;
  border-radius: 2.5em;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* Icon 3 */

/* circle background */
#hamburger span:nth-child(1) {
    background: #f22876;
    background-image: url("../rsc/topography.png");
    width:100%;
    height:100%;
    border-radius: 50%;
}

#hamburger span:nth-child(1):hover {
/*    background: #e20000;*/
    transform: scale(1.10);
}

/* hamburger line 1 */
#hamburger span:nth-child(2) {
  opacity: 1;
  top: 25%;
  left: 25%;
  pointer-events: none;
}

/* hamburger line 2 */
#hamburger span:nth-child(3) {
  top: 45%;
  left: 25%;
  pointer-events: none;
}

/* hamburger line 3 */
#hamburger span:nth-child(4) {
  top: 65%;
  left: 25%;
  pointer-events: none;
}

/* hamburger line 1 open rotates right */
#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 40%;
  left: 40%;
}

/* hamburger line 2 open rotates left */
#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 40%;
  left: 10%;
}

/* hamburger line 3 rotates left (same position as line 2) */
#hamburger.open span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 40%;
  left: 10%;
}

/** Dropdown menu **/

#menu {
    padding-top: 0.55em;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
}

#menu a {
    text-decoration: none;
    display: block;
    color: #6a6a6a;
    padding-bottom: 0.55em;
}

#menu a:hover {
    color: #f22493;
}

.active {
    color: #f22493 !important;
}

.left {
    float:left;
    padding-top: 4px;
}

.clickable {
    cursor: pointer;
}

/** all places menu item is distinctive **/
#All {
    border-top: solid;
    border-color: #d2d2d2;
    border-width: 2px;
    padding-top: 0.55em;
}

.nav-item {
    padding-right:2em;
}

/** Map display **/

#map-container {
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column;
    justify-content: flex-start;
    align-content: space-between;
}

/** Google map loads into this space **/

.map-item {
    position:absolute;
/*    background-image: url(../rsc/bg.jpg);*/
/*    background-size: cover;*/
    background-image: url(../rsc/topography.png);
    background-size: cover;
    width: 100%;
    height:100%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

/** Click a map marker to display a window **/

#map-item-content {
/*
    width:550px;
    height:550px;
*/
}

.gps-info-icon-txt {
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row;
    justify-content: flex-start;
    align-content: space-between;
}

.gps-info-txt {
    font-family: monospace;
    font-weight: bold;
    padding: 8px 10px 15px 10px;
}

.bottom-border {
    border-bottom: solid;
    border-width: 2px;
    border-color: #f2f2f2;
}

.date-icon {
    padding-top:4px;
}

#map-item-content-img {
    height:400px;
    width:auto;
}

/* Large phones */
@media screen and (max-width: 900px) {
    body {
        font-size:16px;
    }
    #footer {
        bottom: 2em;
    }
    #hamburger {
        width: 5em;
        height: 5em;
    }
    #hamburger span {
        height: 0.5em;
    }
}

/* Small phones */
@media screen and (max-width: 750px) {
    #footer {
        display:none;
    }
    #hamburger {
        width: 3.5em;
        height: 3.5em;
    }
    #hamburger span {
        height: 0.3em;
    }
}

/** Tiny phones */
@media screen and (max-width: 400px) {
    #map-item-content {
        width: 250px;
        max-height: 350px
    }
    #map-item-content-img {
        max-height: 160px;
    }
}

@media screen and (max-height: 420px) {
    #menu {
        height: 235px;
        overflow: scroll;
    }
    #map-item-content {
        font-size: 0.8em;
        width: 250px;
        max-height: 300px;
    }
    #map-item-content-img {
        max-height: 110px;
    }
}