@font-face {
    font-family: font;
    src: url(../src/rsc/Montserrat-VariableFont_wght.ttf);
}

// Sync with Config.js
$track: #4A4672;

// Menu.scss
#menu {
    #places {
        background-color: #4A4672;
        ol {
            li {
                color: white;
            }
            li.loaded {
                color: #E0E3FA;
            }
        }
    }
    #hamburger span:nth-child(1) {
        background-color: #E0E3FA;
    }
}

// Map.scss
#modal-container #scroller #modal {
    background-color: #e0e3fa;
    .material-icons.close {
        top: unset;
        right: 0px;
        padding: 10px;
    }
    #content {
        width: 80vw;
        max-width: 600px;
        max-height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        h3 {
            font-family: font;
            font-weight: 500;
            font-style: normal;
            font-size: 20px;
            color: #494672;
            padding-top: 15px;
            padding-bottom: 5px;
        }
        img, iframe {
            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
        }
    }
}

.mapboxgl-marker {
    width: 60px;
    height: 60px;
}