@import 'custom/overrides';

$phone: 450px;
$fullscreen-width: 600px;
$fullscreen-height: 800px;

$size-thumbnail:400px;

$dark: #1a1a1ad6;

@mixin window {
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.4));
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(1px);
    color: $dark;
}