@font-face {
  font-family: font;
  src: url(../src/rsc/Aclonica-Regular.ttf);
}

body {
  margin: 0;
  font-family: font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: font;
}
