#legend {
    position: absolute;
    width: 200px;
    bottom: 45px;
    left: 15px;
    z-index: 1;
    pointer-events: none;
    .item {
      display: flex;
      height: 25px;
      margin: 5px;
      .eg-marker {
          width: 35px;
          height: 25px;
          background-repeat: no-repeat;
      }
      #eg-aud {
          background-image: url(./rsc/circle-aud.svg);
      }
      #eg-img {
        background-image: url(./rsc/circle-img.svg);
      }
      line {
        stroke-width: 3px;
        stroke-linecap: round;
      }
      span {
        padding-left: 10px;
      }
    }
}