#legend {
    position: absolute;
    width: 200px;
    bottom: 45px;
    left: 15px;
    z-index: 1;
    .item {
      display: flex;
      height: 20px;
      line {
        stroke-width: 3px;
        stroke-linecap: round;
      }
      span {
        padding-left: 10px;
      }
    }
}