@import 'Common';

@font-face {
  font-family: font;
  src: url(../src/rsc/Montserrat-VariableFont_wght.ttf);
}

#my-controls {
  position: absolute;
  height: 100%;
}

#center-message {
  display: flex;
  justify-content: center;
  top: 30px;
  position: relative;
  #message-container {
    display: flex;
    justify-content: center;
    background-color: #ff2f2fd6;
    z-index: 4;
    #message {
      color: #fff;
      margin: 20px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

#modal-container {
  height: 100vh;
  #scroller {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    #modal {
      @include window;
      position: relative;
      z-index: 4;
      padding: 3px;
      background-color: #e0e3fa;
      @media screen and (max-width:$fullscreen-width), (max-height:$fullscreen-height) {
        width: 100%;
        height: 100%;
      }
      .icon {
        display: flex;
        width: 100%;
        height: unset;
      }
      .material-icons.close {
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        padding: 10px;
      }
      .material-icons.close:hover {
        opacity:0.5;
      }
      #content {
        font-size: 16px;
        overflow-y: auto;
        // width: $size-thumbnail;
        // max-height: 650px;
        width: 80vw;
        max-width: 600px;
        max-height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        @media screen and (max-width:$fullscreen-width), (max-height:$fullscreen-height) {
          width: 100%;
          max-height: 100vh;
        }
        h3 {
          font-family: font;
          font-weight: 500;
          font-style: normal;
          font-size: 20px;
          color: #494672;
          padding-top: 15px;
          padding-bottom: 5px;
        }
        .subt {
          font-size: 12px;
          line-height: normal;
          font-style: italic;
          width: 100%;
        }
        .col {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        #date {
          translate: 8px -4px;
          color: white;
          position: absolute;
          margin-top: -25px;
        }
        .center {
          // display: flex;
          // justify-content: center;
          // padding: 15px;
          // position: relative;
          // bottom: 66px;
          display: flex;
          justify-content: center;
        }
        .link {
          background-color: #cf664f;
          // border-radius: 300px;
          display: block;
          padding: 21px 34px;
          // max-width: 165px;
          position: relative;
          bottom: 66px;
          font-family: font;
          color: #fff;
          font-size: 24px;
          font-weight: 500;
          font-style: normal;
          text-transform: uppercase;
        }
        .link:hover {
          opacity: 0.8;
        }
        table {
          width: unset !important;
        }
        a {
          color: $track;
        }
        img, iframe {
          width: $size-thumbnail;
          padding-top: 3px;
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
          @media screen and (max-width:$fullscreen-width) {
            width: 100vw;
          }
        }
        audio {
          width: 100%;
        }
      }
    }    
  }
}

#desc-container {
  display:flex;
  justify-content: center;
  width:100%;
  #desc {
    @include window;
    position:absolute;
    bottom: 0px;
    z-index: 5;
    a {
      color: $track;
    }
    padding: 10px 10px 35px 10px;
    width:100%;
    @media screen and (min-width: $fullscreen-height) {
      width: unset;
      margin: 0px 40px 5px 120px;
      border-radius: 50px;
      padding: 3px 30px 3px 30px;
    }
  }
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.marker-aud {
  background-image: url('./rsc/circle-aud.svg');
  z-index: 2;
}
.marker-img {
  background-image: url('./rsc/circle-img.svg');
  z-index: 1;
}
.marker-link {
  background-color: #cf664f;
  z-index: 2;
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.4));
  padding: 8px;
  color: #e0e3fa;
  font-size: 45px !important;
}

.mapboxgl-ctrl-top-right {
  z-index: unset;
}

.mapboxgl-marker {
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: unset !important;
  font-family: font;
}

.mapboxgl-popup.media {
  display: none;
}

.mapboxgl-popup-close-button {
  display: none;
}
.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-content {
  border-radius: unset;
  box-shadow: none;
  padding: 0;
  background: none;

  .tip.selected {
    overflow: visible;
  }
}
.mapboxgl-popup.tip.hovered {
  @include window;
  padding: 2px 8px 2px;
  font-weight: bold;
  z-index: 1;
}

.mapboxgl-ctrl-attrib-inner {
  z-index: 6;
}