@import 'Common';

#styles {

    .mapboxgl-ctrl-group {
        margin: unset;

        .mapboxgl-ctrl-icon {
            text-align: center;
        }
    }

    .material-icons {
        font-size: 29px;
        scale: 0.85;
    }

    ol {
        @include window;
        padding: 5px;
        border-radius: 2px;
        translate: 0px 33px;
        li {
            cursor: pointer;
            display: flex;
        }
        li:hover {
            opacity: 0.5;
        }
        li.selected {
            color: $track;
        }
    }
  }
  #styles.closed {
    ol {
        visibility: hidden;
    }
  }